<main class="container">
  <!-- Phần Today's Quote -->
  <section class="quote-container">
    <blockquote class="quote">
      Thư viện số dùng cho các trường học, tổ chức
    </blockquote>
    <cite class="author">- Nhóm 4</cite>
  </section>

  <!-- Phần Recommended for you -->
  <section class="category">
    <h2>Gợi ý cho bạn</h2>
    <ul class="book-list">
      @for (book of recommendedBooks; track book.id) {
        <app-home-book-item [book]="book"></app-home-book-item>
      }
    </ul>
  </section>

  <!-- higest ratings -->
  <section class="category">
    <h2>Đánh giá cao nhất</h2>
    <ul class="book-list">
      @for (book of highestRatedBooks; track book.id) {
        <app-home-book-item [book]="book"></app-home-book-item>
      }
    </ul>
  </section>
</main>
