<app-data-add [formGroup]="formGroup" (add)="onAdd()">
  <div>
    <label for="full-name-add" class="form-label">Họ và tên:</label>
    <input type="text" id="full-name-add" formControlName="fullName">
  </div>
  <div>
    <label for="email-add" class="form-label">Email:</label>
    <input type="email" id="email-add" formControlName="email">
  </div>
  <div>
    <label for="role-add" class="form-label">Vai trò:</label>
    <select id="role-add" formControlName="role">
      <option value="" disabled selected>-- Lựa chọn vai trò --</option>
      <option value="admin">Thủ thư</option>
      <option value="member">Thành viên</option>
    </select>
  </div>
  <div>
    <div style="margin-bottom: 0.2rem">Giới tính:</div>
    <span style="margin-right: 2rem">
      <input id="male-add" type="radio" class="form-check-inline" formControlName="gender" value="male">
      <label for="male-add" class="form-check-label">Nam</label>
    </span>
    <span>
      <input id="female-add" type="radio" class="form-check-inline" formControlName="gender" value="female">
      <label for="female-add" class="form-check-label">Nữ</label>
    </span>
  </div>
  <div>
    <label for="birthday-add" class="form-label">Ngày sinh:</label>
    <input type="date" name="birthday" id="birthday-add" formControlName="dateOfBirth">
  </div>
  <div>
    <label for="password-add" class="form-label">Mật khẩu:</label>
    <input type="password" id="password-add" formControlName="password">
  </div>
</app-data-add>
