<table class="app-table">
  <thead>
  <tr>
    <th>Họ và tên</th>
    <th>Email</th>
    <th>Vai trò</th>
    <th>Giới tính</th>
    <th>Ngày sinh</th>
  </tr>
  </thead>
  <tbody>
    @for (user of users; track user.id) {
      <tr>
        <td><a [href]="'/users/edit/'+user.id" title="Truy cập hồ sơ người dùng">{{ user.fullName }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.role | role }}</td>
        <td>{{ user.gender | gender }}</td>
        <td>{{ user.dateOfBirth | dateOnly }}</td>
      </tr>
    }
  </tbody>
</table>
