<html lang="en-US">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="register-form">
      <header>My book<br>shelf</header>
      <h4 style="text-align:center;color:#4D4D4D">Registration</h4>
      <h6 style="text-align:center;color:#ABABAB">For both staffs and students</h6>
      <form class="register-form">
        <label for="username">Username</label><br>
        <input type="text" name="username"><br>
        <label for="email">Email</label><br>
        <input type="text" name="email"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br>
        <label for="reapeat-password">Repeat password</label><br>
        <input type="password" name="repeat-password"><br>

        <button>Register</button>
      </form>
      <footer>
        <div style="text-align:left;display:inline-block;margin-right: 14mm"> Already a user? <a>Login now</a> </div>
        <div style="text-align:right;display:inline-block;margin-left: 14mm"> Use as Guess </div>
      </footer>
    </div>
  </body>
</html>
