<div class="bg-light">
  <div class="d-flex">
    <nav class="navbar navbar-dark bg-grad flex-column h-100">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <strong><em>Thư viện số</em></strong>
        </a>
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/">Trang chủ</a>
          <a class="nav-item nav-link" routerLink="/books/search">Tìm kiếm</a>
          <a class="nav-item nav-link" routerLink="/books/add">Thêm sách</a>
          <a class="nav-item nav-link" routerLink="/books/detail/123">Chi tiết sách(cho member)</a>
          <a class="nav-item nav-link" routerLink="/" *ngIf="isMember()">Kệ sách của tôi</a>
          <a class="nav-item nav-link" routerLink="/users/manage">Quản lý người dùng</a>
        </div>
      </div>
    </nav>
    <div class="container d-flex flex-column justify-content-between min-vh-100">
      <main>
        <app-header></app-header>
        <router-outlet></router-outlet>
      </main>
      <footer class="navbar-light" style="margin-top: 5rem;margin-bottom: 1rem">
        <i class="text-info-emphasis text-center d-block">Được phát triển bởi nhóm 4</i>
      </footer>
    </div>
  </div>
</div>
