<app-header></app-header>
<div class="d-flex bg-light">
  <nav class="nav-bar flex-column nav-pills" style="background-color: coral;">
    <div class="container">
      <nav class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/auth/login">Đăng nhập</a>
        <a class="nav-item nav-link" routerLink="/auth/register">Đăng ký</a>
        <a class="nav-item nav-link" routerLink="/">Trang chủ</a>
        <a class="nav-item nav-link" routerLink="/books/search">Tìm kiếm</a>
        <a class="nav-item nav-link" routerLink="/books/detail/123">Chi tiết sách(cho member)</a>
        <a class="nav-item nav-link" routerLink="/" *ngIf="(user.role == 'member')">Kệ sách của tôi</a>
        <a class="nav-item nav-link" routerLink="/" *ngIf="user.role == 'admin'">Quản lý người dùng</a>
      </nav>
    </div>
  </nav>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="bg-light" style="position:absolute;width:100%;height:100%">

</footer>
