<div class="d-flex bg-light h-100">
  <nav class="navbar navbar-dark bg-grad flex-column h-100">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <strong><em>Thư viện số</em></strong>
      </a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Trang chủ</a>
        <a class="nav-item nav-link" routerLink="/books/search">Tìm kiếm</a>
        <a class="nav-item nav-link" routerLink="/books/add">Thêm sách</a>
        <a class="nav-item nav-link" routerLink="/books/detail/123">Chi tiết sách(cho member)</a>
        <a class="nav-item nav-link" routerLink="/" *ngIf="isMember()">Kệ sách của tôi</a>
        <a class="nav-item nav-link" routerLink="/users/manage">Quản lý người dùng</a>
      </div>
    </div>
  </nav>
  <main class="container">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="navbar-light" style="margin-top: 15rem">
  <div class="text-center text-info-emphasis"><i>Được phát triển bởi nhóm 4</i></div>
</footer>
