<form id="search-form">
  <input type="text" name="searchQuery" [(ngModel)]="searchQuery">
  <button (click)="search()" id="search-button">Search</button>
</form>

<form id="category-form">
  <select name="category" [(ngModel)]="searchCategory">
    <option value="">All books</option>
    <option *ngFor="let cat of getCategories()" [value]="cat">{{ cat }}</option>
  </select>
</form>

<table style="width:100%;border-collapse:separate;border-spacing: 0 16px;margin-top:36px">
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Category</th>
  </tr>
  <app-entry-book *ngFor="let book of allBooks" [book]="book" style="display:contents" />
</table>

<footer style="margin-top:auto">
  <button style="float:left" (click)="previousPage()">Previous</button>
  <button style="float:right" (click)="nextPage()">Next</button>
</footer>
