<html lang="en-US">
<head>
  <title>Login</title>
</head>
<body>
<div class="login-form">
  <header>My book<br>shelf</header>
  <h4 style="text-align:center;color:#4D4D4D">Welcome back</h4>
  <h6 style="text-align:center;color:#ABABAB">Log in to continue to your digital libary</h6>
  <form class="login-form">
    <label for="username">Email</label><br>
    <input id="username" name="username" type="text" [(ngModel)]="username" placeholder="username"><br>

    <label for="password">Password</label><br>
    <input id="password" name="password" type="password" [(ngModel)]="password" placeholder="password"><br>

    <div><input type="checkbox" name="remember-me-checkbox" id="remember-me-checkbox" [(ngModel)]="remember_me"><label
      for="remember-me-checkbox">Remember me</label></div>

    <button (click)="onSubmit()" name="button-submit" type="button">SUBMIT</button>
  </form>
  <footer>
    <div style="text-align:left;display:inline-block;margin-right: 14mm"> New user? <a href="/auth/register">Register
      here</a></div>
    <div style="text-align:right;display:inline-block;margin-left: 14mm"> Use as guess</div>
  </footer>
</div>
</body>
</html>
